<div class="form">
<form method="post" id="{{ _form }}">

<p>
	{"Name"}:<br />
	<input type="text" name="name" value="{{ name|quotes }}" size="40" />
	<span class="notice" id="name-notice">{"Please enter a name."}</span>
</p>

<p>
	{"Phone"}:<br />
	<input type="text" name="phone" value="{{ phone|quotes }}" size="20" />
</p>

<p>
	{"Website"}:<br />
	<input type="text" name="website" value="{{ website|quotes }}" size="40" />
</p>

<p>
	{"About"}:<br />
	<textarea name="about" cols="60" rows="4">{{ about }}</textarea>
</p>

<p>
	{"Main Address"}:<br />
	<input type="text" name="address" value="{{ address|quotes }}" size="40" />
</p>

<p>
	{"Address line 2"}:<br />
	<input type="text" name="address2" value="{{ address2|quotes }}" size="40" />
</p>

<p>
	{"City"}:<br />
	<input type="text" name="city" value="{{ city|quotes }}" size="40" />
</p>

<p>
	{"State"}:<br />
	<select name="state">
		<option value="">- select -</option>
{% for _key, _value in user\Data::states () %}
		<option value="{{_key|quotes}}"{% if _key == $data->state %} selected{% end %}>{{_value}}</option>
{% end %}
	</select>
</p>

<p>
	{"Country"}:<br />
	<select name="country">
		<option value="">- select -</option>
{% for _key, _value in user\Data::countries () %}
		<option value="{{_key|quotes}}"{% if _key == $data->country %} selected{% end %}>{{_value}}</option>
{% end %}
	</select>
</p>

<p>
	{"Zip"}:<br />
	<input type="text" name="zip" value="{{ zip|quotes }}" size="20" />
</p>

<p>
	<input type="submit" value="{"Add Organization"}" />
	&nbsp;
	<a href="/organizations/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>
</div>