{! user/util/userchooser !}
{! admin/util/minimal-grid !}

<p>
	<a href="/organizations/admin">&laquo; {"Back"}</a>
	&nbsp;|&nbsp;
	<a href="#" id="add-member">{"Add member"}</a>
	&nbsp;|&nbsp;
	<a href="/organizations/addlocation?id={{id}}">{"Add location"}</a>
	&nbsp;|&nbsp;
	<a href="/organizations/edit?id={{id}}">{"Edit"}</a>
	&nbsp;|&nbsp;
	<a href="/organizations/delete" data-id="{{id}}" onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete this organization?"}')">{"Delete"}</a>	
</p>

<p>
	<b>{"Website"}:</b><br />
	<a href="{{website}}" target="_blank">{{website|parse_url (%s, PHP_URL_HOST)}}</a>
</p>

<b>{"About"}:</b><br />
<div class="editable-textarea" data-property="about" id="{{id}}">{{about}}</div>
<br />

<h3>{"Locations"}</h3>

<div class="e-row-variable" style="margin-bottom: 20px">
	<div class="e-col-25 e-no-padding">
		<b>{"Main Address"}</b><br />
		{{address}}<br />
		{% if address2 != '' %}{{address2}}<br />{% end %}
		{{city}}, {{state}}<br />
		{% if country != '' %}{{country|user\Data::country}}<br />{% end %}
		{{zip}}
		{% if phone != '' %}<br /><br />{{phone}}{% end %}
	</div>
{% foreach locations as _loc %}
	<div class="e-col-25 e-no-padding">
		<b>{{_loc->name}}</b><br />
		{{_loc->address}}<br />
		{% if _loc->address2 != '' %}{{_loc->address2}}<br />{% end %}
		{{_loc->city}}, {{_loc->state}}<br />
		{% if _loc->country != '' %}{{_loc->country|user\Data::country}}<br />{% end %}
		{{_loc->zip}}
		{% if _loc->phone != '' %}<br /><br />{{_loc->phone}}{% end %}
		<br />
		<a href="/organizations/editlocation?id={{_loc->id}}">{"Edit"}</a>
		&nbsp;|&nbsp;
		<a href="/organizations/removelocation" data-id="{{_loc->id}}" data-org="{{id}}" onclick="return $.confirm_and_post (this, '{"Are you sure you want to remove this location?"}')">{"Remove"}</a>
	</div>
{% end %}
</div>

<h3>{"Members"}</h3>

<p>
<table width="100%">
	<tr>
		<th width="36%">{" Name "}</th>
		<th width="36%">{" Title "}</th>
		<th width="28%">&nbsp;</th>
	</tr>
{% foreach members %}
	<tr>
		<td><a href="/user/details?id={{ loop_value->user_id }}">{{ loop_value->name }}</a></td>
		<td>{{ loop_value->title }}</td>
		<td style="text-align: right">
			{% if loop_value->main %}
			<strong>{"Main Contact"}</strong>
			{% else %}
			<a href="/organizations/main?org={{id}}&id={{loop_value->id}}">{"Make main contact"}</a>
			{% end %}
			&nbsp;|&nbsp;
			<a href="/organizations/move?org={{id}}&id={{loop_value->id}}">{"Move"}</a>
			&nbsp;|&nbsp;
			{% if User::require_acl ('admin/delete') %}
			<a	href="/organizations/removemember"
				data-id="{{ loop_value->id }}"
				data-org="{{ id }}"
				onclick="return $.confirm_and_post (this, '{"Are you sure you want to remove this member?"}')">{"Remove"}</a>
			{% end %}
		</td>
	</tr>
{% end %}
</table>
</p>

<form id="add-member-form" method="post" action="/organizations/addmember">
	<input type="hidden" name="org" value="{{id}}" />
	<input type="hidden" name="user" id="user-id" value="" />
</form>

<script>
$(function () {
	$('#add-member').click (function (e) {
		e.preventDefault ();
		
		$.userchooser ({
			chosen: [{{ join (', ', $data->chosen) }}],
			callback: function (user_id) {
				$('#user-id').val (user_id);
				$('#add-member-form').submit ();
			}
		});
	});
});
</script>
